@font-face {
	 font-family: 'buscape';
	 src: url('buscape.woff2') format('woff2');
	 font-weight: 1 999;
}
 body{
	 display:grid;
	 font-family: buscape, sans-serif;
	 font-weight: 380;
	 font-stretch: 75%;
	 font-size: 1.2em;
	 line-height: 1.4em;
	
	 margin: auto;
	 background-color:#FFC500;
	 font-feature-settings: "ss01";
	 min-height:66vh;
	 margin-bottom: 50vh; 
}
 svg{
	margin:auto;
} 